package repository

import (
    "context"
    proto "{{.ProtoPkg}}"
    "{{.Module}}/repository"
)

type {{.Service.GoName}}Repository interface {
    {{- range .Service.Methods}}
    {{.GoName}}(context.Context, *proto.{{.Input.GoIdent.GoName}}) (*proto.{{.Output.GoIdent.GoName}}, error)
    {{- end}}
}

type {{initialLower .Service.GoName}}Usecase struct {
    repo repository.{{.Service.GoName}}Repository
}

func New{{.Service.GoName}}Usecase(repo repository.{{.Service.GoName}}Repository) {{.Service.GoName}}Usecase {
    return &{{initialLower .Service.GoName}}Usecase{repo: repo}
}

{{range .Service.Methods}}
func (u *{{initialLower $.Service.GoName}}Usecase) {{.GoName}}(ctx context.Context, req *proto.{{.Input.GoIdent.GoName}}) (*proto.{{.Output.GoIdent.GoName}}, error) {
    return u.repo.{{.GoName}}(ctx, req)
}
{{end}}