package server

import (
	"context"
	"fmt"

	appError "{{.Base}}/error"
	{{initialLower (serviceNoSuf .Service.Name.String)}}pb "{{.Import}}"
	"{{.Base}}/logger"
	"{{.Base}}/usecase"
	"go.uber.org/zap"
)

// {{serviceNoSuf .Service.Name.String}}Server implements the {{serviceNoSuf .Service.Name.String}} with appUsecase pattern
type {{serviceNoSuf .Service.Name.String}}Server struct {
	{{initialLower (serviceNoSuf .Service.Name.String)}}pb.Unimplemented{{serviceNoSuf .Service.Name.String}}ServiceServer
	{{initialLower (serviceNoSuf .Service.Name.String)}}Usecase usecase.{{serviceNoSuf .Service.Name.String}}Usecase
}

// New{{serviceNoSuf .Service.Name.String}}Server creates a new {{serviceNoSuf .Service.Name.String}}Server instance
func New{{serviceNoSuf .Service.Name.String}}Server({{initialLower (serviceNoSuf .Service.Name.String)}}Usecase usecase.{{serviceNoSuf .Service.Name.String}}Usecase) *{{serviceNoSuf .Service.Name.String}}Server {
	return &{{serviceNoSuf .Service.Name.String}}Server{
		{{initialLower (serviceNoSuf .Service.Name.String)}}Usecase: {{initialLower (serviceNoSuf .Service.Name.String)}}Usecase,
	}
}

{{range .Service.Methods}}
// {{.Name}} implements the {{.Name}} RPC method
func (s *{{serviceNoSuf $.Service.Name.String}}Server) {{.Name}}(ctx context.Context, req *{{.Input.Name}}) (*{{.Output.Name}}, error) {
	var (
		log = logger.FromContext(ctx)
		err error
	)
	defer func() {
		if err != nil {
			log.Error("{{serviceNoSuf $.Service.Name.String}}Server.{{.Name}} err", zap.Error(err))
		}
	}()
	log.Info("{{serviceNoSuf $.Service.Name.String}}.{{.Name}} called", zap.String("req", fmt.Sprintf("%+v", req)))

	if err = req.Validate(); err != nil {
		return nil, appError.ErrInvalidArgument.WithMessage("validation failed: %v", err)
	}

	return s.{{initialLower (serviceNoSuf $.Service.Name.String)}}Usecase.{{.Name}}(ctx, req)
}
{{end}}
